{% extends "::base.html.twig" %}
{% form_theme form _self %}
{% block _survey_questions_entry_type_widget %}
    {{ form_widget(form) }}
    <a class="delete btn btn-sm" data-delete="{{ form.vars.id }}" href="#">Delete</a>
{% endblock %}
{% block _survey_questions_entry_row %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' row-collection')|trim}) %}
    {{ form_widget(form, {attr: attr}) }}
{% endblock %}


{% block collection_row %}
    {{ block('form_row') }}
    {% if allow_add %}
        <a class="add" href="#">Add</a>
    {% endif %}
{% endblock %}

{% block title %}AppBundle:Survey:index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">



        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function add() {
            var collectionHolder = $('#survey_questions');
            var prototype = collectionHolder.attr('data-prototype');

            form = prototype.replace(/__name__/g, collectionHolder.children().length);
            collectionHolder.append($(form).fadeIn());

            return form;
        }



        $('a.add').on('click', function(event){
            event.preventDefault();
            var form = add();

            //alert($(form).find('a.delete').length);

        });

        $('body').on('click', '.delete',function(e){
            e.preventDefault();
            $(this).parents('.row-collection').remove();
            $(this).remove();
        });
    </script>
{% endblock %}